In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('Expanded_data_with_more_features.csv')
data.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [6]:
#  1. Скільки студентів і студенток у наборі даних?
amountOfMalestd = len(data[data["Gender"] == "male"])
amountOfFemalestd = len(data[data["Gender"] == "female"])
print("Кількість студентів: ", amountOfMalestd)
print("Кількість студенток: ", amountOfFemalestd)

Кількість студентів:  15217
Кількість студенток:  15424

In [7]:
#  2. Який відсоток студентів чоловічої статі в наборі даних?
amountOfStd = len(data)
percentage_male_students = (amountOfMalestd / amountOfStd) * 100

print("Відсоток студентів чоловічої статі:", percentage_male_students, "%")

Відсоток студентів чоловічої статі: 49.6622172905584 %

In [44]:
  #  3. Який відсоток студенток у наборі даних?
percentage_female_students = (amountOfFemalestd / amountOfStd) * 100

print("Відсоток студенток:", percentage_female_students, "%")

Відсоток студенток: 50.337782709441605 %

In [10]:
# 4. Яка етнічна група має найвищий середній бал з математики?
data.groupby('EthnicGroup')["MathScore"].mean().sort_values(ascending=False)[:1]

EthnicGroup
group E    75.298936
Name: MathScore, dtype: float64

In [12]:
# 5. Яка етнічна група має найвищий середній бал читання?
data.groupby('EthnicGroup')["ReadingScore"].mean().sort_values(ascending=False)[:1]

EthnicGroup
group E    74.251423
Name: ReadingScore, dtype: float64

In [13]:
# 6. Яка етнічна група має найвищий середній бал з письма?
data.groupby('EthnicGroup')["WritingScore"].mean().sort_values(ascending=False)[:1]

EthnicGroup
group E    72.67706
Name: WritingScore, dtype: float64

In [20]:
# 7. Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?
filtered_data = data[data["TestPrep"] == "completed"]
average_math_score = filtered_data["MathScore"].mean()
print("Середній бал з математики для учнів, які закінчили курс підготовки до тесту:", average_math_score)

Середній бал з математики для учнів, які закінчили курс підготовки до тесту: 69.5466599698644

In [21]:
# 8. Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?
average_reading_score = filtered_data["ReadingScore"].mean()
print("Середній бал з читання для учнів, які закінчили курс підготовки до тесту:", average_reading_score)

Середній бал з математики для учнів, які закінчили курс підготовки до тесту: 73.73299849321948

In [24]:
# 9. Який середній бал для студентів, які закінчили курс підготовки до тесту?
data['MeanTestsScore'] = (data['MathScore'] + data['ReadingScore'] + data['WritingScore'])/3
print("Cередній бал для студентів, які закінчили курс підготовки до тесту:", data.query("TestPrep == 'completed'")["MeanTestsScore"].mean())

Cередній бал для студентів, які закінчили курс підготовки до тесту: 72.66097438473129

In [25]:
# 10. Скільки студентів мають одружених батьків?
print("Кількість студентів які мають одружених батьків:", data.query("ParentMaritalStatus == 'married'").count()['ParentMaritalStatus'])

Кількість студентів які мають одружених батьків: 16844

In [27]:
# 11. Скільки студентів мають батьків-одинаків?
print("Кількість студентів які мають батьків-одинаків:", data.query("ParentMaritalStatus == 'single'").count()['ParentMaritalStatus'])

Кількість студентів які мають батьків-одинаків: 7097

In [34]:
# 12. Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не займається спортом?
sporty_students = data[data['PracticeSport'] == "regularly"]['MathScore'].mean()
non_sporty_students = data[data['PracticeSport'] == "never"]['MathScore'].mean()
sporty_students>non_sporty_students

True

In [35]:
# 13. Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання, ніж ті, хто ніколи не займається спортом?
sporty_students = data[data['PracticeSport'] == "regularly"]['ReadingScore'].mean()
non_sporty_students = data[data['PracticeSport'] == "never"]['ReadingScore'].mean()
sporty_students>non_sporty_students

True

In [37]:
# 14. Скільки учнів користується шкільним автобусом, щоб дістатися до школи?
bus_users_count = data[data['TransportMeans'] == "school_bus"].shape[0]
print("Кількість учнів, які користуються шкільним автобусом:", bus_users_count)

Кількість учнів, які користуються шкільним автобусом: 16145

In [38]:
# 15. Скільки учнів користується приватним транспортом, щоб дістатися до школи?
private_users_count = data[data['TransportMeans'] == "private"].shape[0]
print("Кількість учнів, які користуються приватним транспортом:", private_users_count)

Кількість учнів, які користуються приватним транспортом: 11362

In [40]:
# Задача класифікації 5 балів
#    Передбачте, чи завершив студент курс підготовки до іспиту, на основі його демографічних та академічних даних.
#    Вхідні дані:
# Gender, EthnicGroup, ParentEduc, LunchType, ParentMaritalStatus, PracticeSport, IsFirstChild, NrSiblings, TransportMeans, WklyStudyHours, MathScore, ReadingScore, WritingScore
#    Результат: TestPrep


from sklearn.preprocessing import StandardScaler
import sklearn as sk
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
cols = [
    'Gender',
    'EthnicGroup',
    'ParentEduc',
    'LunchType',
    'ParentMaritalStatus',
    'PracticeSport',
    'IsFirstChild',
    'NrSiblings',
    'TransportMeans',
    'WklyStudyHours',
    'MathScore',
    'ReadingScore',
    'WritingScore'
]
data['IsTestCompleted'] = data['TestPrep'] == 'completed'
data[cols + ['IsTestCompleted']]

,Gender,EthnicGroup,ParentEduc,LunchType,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,IsTestCompleted
0,female,NaN,bachelor's degree,standard,married,regularly,yes,3.0,school_bus,< 5,71,71,74,False
1,female,group C,some college,standard,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88,False
2,female,group B,master's degree,standard,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,False
3,male,group A,associate's degree,free/reduced,married,never,no,1.0,NaN,5 - 10,45,56,42,False
4,male,group C,some college,standard,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,female,group D,high school,standard,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65,False
30637,male,group E,high school,standard,single,regularly,no,1.0,private,5 - 10,58,53,51,False
30638,female,NaN,high school,free/reduced,married,sometimes,no,1.0,private,5 - 10,61,70,67,True
30639,female,group D,associate's degree,standard,married,regularly,no,3.0,school_bus,5 - 10,82,90,93,True
30640,male,group B,some college,standard,married,never,no,1.0,school_bus,5 - 10,64,60,58,False

In [46]:
num_features = [
    'MathScore',
    'ReadingScore',
    'WritingScore',
    'NrSiblings'
]
cat_features = [
    'Gender',
    'EthnicGroup',
    'ParentEduc',
    'LunchType',
    'ParentMaritalStatus',
    'PracticeSport',
    'IsFirstChild',
    'TransportMeans',
    'WklyStudyHours'
]

num_pipeline = Pipeline([('imputer', SimpleImputer(strategy="mean")),('scaler', StandardScaler()),])

X = ColumnTransformer([("num", num_pipeline, num_features),("cat", OneHotEncoder(), cat_features)]).fit_transform(data)
Y = data['IsTestCompleted'].values

model = LogisticRegression()
cv = ShuffleSplit(n_splits=15, test_size=0.25, random_state=0)
TestPrep = cross_val_score(LogisticRegression(), X, Y, cv=cv).mean()
print(TestPrep)

0.7495888265239525